In [2]:
import os
from dotenv import load_dotenv

load_dotenv()
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")

### CommaSeparatedListOutputParser

In [6]:
from langchain_core.output_parsers import CommaSeparatedListOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_openai import ChatOpenAI
import csv
from pprint import pprint

# 콤마로 구분된 리스트 출력 파서 초기화
output_parser = CommaSeparatedListOutputParser()

# 출력 형식 지침 가져오기
format_instructions = output_parser.get_format_instructions()

# 프롬프트 템플릿 설정
prompt = PromptTemplate(
    template="List five {subject}.\n{format_instructions}",
    input_variables=["subject"],
    partial_variables={"format_instructions": format_instructions},
)
pprint(prompt.partial_variables)

{'format_instructions': 'Your response should be a list of comma separated '
                        'values, eg: `foo, bar, baz` or `foo,bar,baz`'}

In [7]:

# OpenAI 모델 설정
#model = ChatOpenAI(temperature=0)
model = ChatOpenAI(
    base_url="https://api.groq.com/openai/v1",  # Groq API 엔드포인트
    model="meta-llama/llama-4-scout-17b-16e-instruct",
    temperature=0
)

# 프롬프트, 모델, 출력 파서를 연결하여 체인 생성
chain = prompt | model | output_parser

# "AI 관련 기술"에 대한 체인 호출 실행
result = chain.invoke({"subject": "AI 관련 기술"})

# 쉼표로 구분된 리스트 출력
print(" AI 관련 기술 목록:")
print(result)

# 결과 활용 예시: CSV 파일로 저장
csv_filename = "./data/ai_technologies.csv"
with open(csv_filename, "w", newline="", encoding="utf-8") as file:
    writer = csv.writer(file)
    writer.writerow(["AI 기술"])  # 헤더 추가
    for item in result:
        writer.writerow([item])

print(f" '{csv_filename}' 파일로 저장 완료!")

 AI 관련 기술 목록:
['Machine Learning', 'Deep Learning', 'Natural Language Processing', 'Computer Vision', 'Robotics']
 './data/ai_technologies.csv' 파일로 저장 완료!

### JsonOutputParser

In [8]:
from langchain_core.prompts import ChatPromptTemplate
from langchain_core.output_parsers import JsonOutputParser
from langchain_openai import ChatOpenAI
import json

# JSON 출력 파서 초기화
parser = JsonOutputParser()

# 프롬프트 템플릿을 설정합니다.
prompt = ChatPromptTemplate.from_messages(
    [
        ("system", "당신은 과학 분야 전문가 AI입니다. 질문에 대해 체계적이고 간결한 답변을 JSON 형식으로 제공하세요."),
        ("user", "#Format: {format_instructions}\n\n#Question: {question}"),
    ]
)

# JSON 출력 형식 지침을 프롬프트에 적용
prompt = prompt.partial(format_instructions=parser.get_format_instructions())
print(prompt)

input_variables=['question'] input_types={} partial_variables={'format_instructions': 'Return a JSON object.'} messages=[SystemMessagePromptTemplate(prompt=PromptTemplate(input_variables=[], input_types={}, partial_variables={}, template='당신은 과학 분야 전문가 AI입니다. 질문에 대해 체계적이고 간결한 답변을 JSON 형식으로 제공하세요.'), additional_kwargs={}), HumanMessagePromptTemplate(prompt=PromptTemplate(input_variables=['format_instructions', 'question'], input_types={}, partial_variables={}, template='#Format: {format_instructions}\n\n#Question: {question}'), additional_kwargs={})]

In [9]:

# OpenAI 모델 설정
#model = ChatOpenAI(model="gpt-3.5-turbo-0125", temperature=0)
model = ChatOpenAI(
    base_url="https://api.groq.com/openai/v1",  # Groq API 엔드포인트
    model="meta-llama/llama-4-scout-17b-16e-instruct",
    temperature=0
)

# 프롬프트, 모델, 출력 파서를 연결하는 체인 생성
chain = prompt | model | parser

# 질문 설정 (우주 탐사 관련 질문)
question = "최근 10년간 진행된 주요 우주 탐사 미션 3가지를 알려주세요. \
각 미션의 이름은 `mission_name`에, 목표는 `goal`에, 주관 기관은 `agency`에 담아 주세요."

# 체인 실행 및 JSON 응답 받기
response = chain.invoke({"question": question})

# JSON 데이터 출력
print(json.dumps(response, indent=4, ensure_ascii=False))

[
    {
        "mission_name": "뉴호라이즌스",
        "goal": "명왕성 탐사",
        "agency": "NASA"
    },
    {
        "mission_name": "카시니-호이겐스",
        "goal": "토성의 위성 타이탄 탐사",
        "agency": "NASA, ESA, 이탈리아 우주국"
    },
    {
        "mission_name": "창어 4호",
        "goal": "달의 뒷면 탐사",
        "agency": "중국 우주국"
    }
]

### PandasDataFrameOutputParser

In [12]:
import pandas as pd
from langchain.output_parsers import PandasDataFrameOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_openai import ChatOpenAI
import re

# Titanic 데이터셋 로드
df = pd.read_csv('data/titanic.csv')

# Pandas DataFrame Output Parser 설정
parser = PandasDataFrameOutputParser(dataframe=df)

# 형식 지침 출력
format_instructions = parser.get_format_instructions()
print("Format Instructions:\n", format_instructions)

Format Instructions:
 The output should be formatted as a string as the operation, followed by a colon, followed by the column or row to be queried on, followed by optional array parameters.
1. The column names are limited to the possible columns below.
2. Arrays must either be a comma-separated list of numbers formatted as [1,3,5], or it must be in range of numbers formatted as [0..4].
3. Remember that arrays are optional and not necessarily required.
4. If the column is not in the possible columns or the operation is not a valid Pandas DataFrame operation, return why it is invalid as a sentence starting with either "Invalid column" or "Invalid operation".

As an example, for the formats:
1. String "column:num_legs" is a well-formatted instance which gets the column num_legs, where num_legs is a possible column.
2. String "row:1" is a well-formatted instance which gets row 1.
3. String "column:num_legs[1,2]" is a well-formatted instance which gets the column num_legs for rows 1 and 2, where num_legs is a possible column.
4. String "row:1[num_legs]" is a well-formatted instance which gets row 1, but for just column num_legs, where num_legs is a possible column.
5. String "mean:num_legs[1..3]" is a well-formatted instance which takes the mean of num_legs from rows 1 to 3, where num_legs is a possible column and mean is a valid Pandas DataFrame operation.
6. String "do_something:num_legs" is a badly-formatted instance, where do_something is not a valid Pandas DataFrame operation.
7. String "mean:invalid_col" is a badly-formatted instance, where invalid_col is not a possible column.

Here are the possible columns:
```
Survived, Pclass, Name, Sex, Age, Siblings/Spouses Aboard, Parents/Children Aboard, Fare
```

In [16]:

# ChatOpenAI 모델 초기화
#model = ChatOpenAI(temperature=0, model_name="gpt-3.5-turbo")
model = ChatOpenAI(
    base_url="https://api.groq.com/openai/v1",  # Groq API 엔드포인트
    model="meta-llama/llama-4-scout-17b-16e-instruct",
    temperature=0
)

# 프롬프트 템플릿 설정
prompt = PromptTemplate(
    template=""" 
    You are a helpful assistant that interacts with a Pandas DataFrame.
    The DataFrame contains the following columns: {columns}.
    
    Your task is to answer the user's query by generating a command in the following format:
    {format_instructions}
    
    User Query: {query}    
    """,
    input_variables=["query"],
    partial_variables={
        "format_instructions": format_instructions,
        "columns": ", ".join(df.columns)
    },
)
print(prompt.partial_variables['columns'])

Survived, Pclass, Name, Sex, Age, Siblings/Spouses Aboard, Parents/Children Aboard, Fare

In [17]:

# 체인 생성
chain = prompt | model | parser

# 모델 응답 받기
try:
    # **Name 열을 표시하십시오.**
    print('Name 컬럼 출력')
    df_query = "Show the Name column"

    # parser_output = chain.invoke({"query": df_query})
    # print(type(parser_output))
    # print(parser_output)

        # **첫번째 행을 표시하십시오.**
    print('첫번째 행 출력')
    df_query2 = "Show first row"

    parser_output2 = chain.invoke({"query": df_query2})
    print(parser_output2)

except Exception as e:
    print(f"오류 발생: {e}")

Name 컬럼 출력
첫번째 행 출력
오류 발생: Request 'The operation "head" is typically used to show the first few rows, but in this case, you want to show only the first row. A well-formatted command for this would be:

head:0

However, since you specifically asked to "Show first row", I will use the "iloc" operation which is used for integer-location based indexing.

The command will be:

row:0

If you want to get a specific column for the first row, you can do:

row:0[Survived]

Let me know if you need anything else!' is not correctly formatted.                     Please refer to the format instructions.
For troubleshooting, visit: https://python.langchain.com/docs/troubleshooting/errors/OUTPUT_PARSING_FAILURE

In [19]:
import pandas as pd
from langchain.output_parsers import StructuredOutputParser, ResponseSchema
from langchain_core.prompts import PromptTemplate
from langchain_openai import ChatOpenAI

# OpenAI 모델 초기화
#model = ChatOpenAI(temperature=0, model_name="gpt-3.5-turbo")
model = ChatOpenAI(
    base_url="https://api.groq.com/openai/v1",  # Groq API 엔드포인트
    model="meta-llama/llama-4-scout-17b-16e-instruct",
    temperature=0
)

# 응답 스키마 정의
response_schemas = [
    ResponseSchema(name="data", description="A list of dictionaries representing table rows."),
]

# Output Parser 설정
parser = StructuredOutputParser.from_response_schemas(response_schemas)

# 프롬프트 템플릿 설정
prompt = PromptTemplate(
    template="""
    You are an AI assistant that generates tabular data. 
    You must return the data in JSON format that follows this schema:
    
    {format_instructions}
        
    **User Query:**
    {query}
    """,
    input_variables=["query"],
    partial_variables={"format_instructions": parser.get_format_instructions()},
)

# 체인 생성 (프롬프트 → 모델 → OutputParser)
chain = prompt | model | parser

# 실행 함수
def generate_dataframe(user_query):
    try:
        # 모델 호출
        json_response = chain.invoke({"query": user_query})
        print(json_response)
        
        # 모델이 반환한 JSON을 Pandas DataFrame으로 변환
        df = pd.DataFrame(json_response["data"])

        # 결과 출력
        print("\n🔹 Generated DataFrame:\n")
        return df

    except Exception as e:
        print(f"❌ 오류 발생: {e}")
        return None

In [20]:
# [예제 1] 2024년 상반기 서울 아파트 평균 매매 가격 데이터 생성
print('2024년 상반기 서울 아파트 평균 매매 가격 데이터 생성')
df_seoul_housing = generate_dataframe(
    "Create a dataset of the average apartment sale prices in Seoul for the first half of 2024 with columns: District (구), Average Price (in KRW), Number of Transactions, and Year-over-Year Change (%)."
)
df_seoul_housing.head()

2024년 상반기 서울 아파트 평균 매매 가격 데이터 생성
{'data': [{'District': 'Gangnam-gu', 'Average Price (in KRW)': 1200000000, 'Number of Transactions': 1500, 'Year-over-Year Change (%)': 10.2}, {'District': 'Gangdong-gu', 'Average Price (in KRW)': 900000000, 'Number of Transactions': 1200, 'Year-over-Year Change (%)': 8.5}, {'District': 'Gwangjin-gu', 'Average Price (in KRW)': 1000000000, 'Number of Transactions': 1000, 'Year-over-Year Change (%)': 9.1}, {'District': 'Dongdaemun-gu', 'Average Price (in KRW)': 800000000, 'Number of Transactions': 1800, 'Year-over-Year Change (%)': 7.8}, {'District': 'Dobong-gu', 'Average Price (in KRW)': 700000000, 'Number of Transactions': 800, 'Year-over-Year Change (%)': 6.9}, {'District': 'Dongjak-gu', 'Average Price (in KRW)': 850000000, 'Number of Transactions': 900, 'Year-over-Year Change (%)': 8.1}, {'District': 'Eunpyeong-gu', 'Average Price (in KRW)': 650000000, 'Number of Transactions': 700, 'Year-over-Year Change (%)': 6.2}, {'District': 'Geumcheon-gu', 'Average Price (in KRW)': 600000000, 'Number of Transactions': 500, 'Year-over-Year Change (%)': 5.5}, {'District': 'Guro-gu', 'Average Price (in KRW)': 750000000, 'Number of Transactions': 1000, 'Year-over-Year Change (%)': 7.2}, {'District': 'Gurola-gu', 'Average Price (in KRW)': 550000000, 'Number of Transactions': 600, 'Year-over-Year Change (%)': 5.1}, {'District': 'Jongno-gu', 'Average Price (in KRW)': 1400000000, 'Number of Transactions': 400, 'Year-over-Year Change (%)': 11.5}, {'District': 'Jung-gu', 'Average Price (in KRW)': 1300000000, 'Number of Transactions': 300, 'Year-over-Year Change (%)': 10.8}, {'District': 'Jungnang-gu', 'Average Price (in KRW)': 580000000, 'Number of Transactions': 900, 'Year-over-Year Change (%)': 5.8}, {'District': 'Mapo-gu', 'Average Price (in KRW)': 950000000, 'Number of Transactions': 1100, 'Year-over-Year Change (%)': 9.5}, {'District': 'Myeong-dong', 'Average Price (in KRW)': 1600000000, 'Number of Transactions': 200, 'Year-over-Year Change (%)': 12.1}, {'District': 'Nowon-gu', 'Average Price (in KRW)': 680000000, 'Number of Transactions': 1200, 'Year-over-Year Change (%)': 6.5}, {'District': 'Ongdapong-gu', 'Average Price (in KRW)': 780000000, 'Number of Transactions': 800, 'Year-over-Year Change (%)': 7.5}, {'District': 'Seodaemun-gu', 'Average Price (in KRW)': 820000000, 'Number of Transactions': 900, 'Year-over-Year Change (%)': 8.2}, {'District': 'Seokyo-gu', 'Average Price (in KRW)': 880000000, 'Number of Transactions': 700, 'Year-over-Year Change (%)': 8.8}, {'District': 'Songpa-gu', 'Average Price (in KRW)': 1100000000, 'Number of Transactions': 1300, 'Year-over-Year Change (%)': 10.5}, {'District': 'Yangcheon-gu', 'Average Price (in KRW)': 720000000, 'Number of Transactions': 600, 'Year-over-Year Change (%)': 6.8}, {'District': 'Yangpyeong-gu', 'Average Price (in KRW)': 630000000, 'Number of Transactions': 500, 'Year-over-Year Change (%)': 5.9}, {'District': 'Yongsan-gu', 'Average Price (in KRW)': 1050000000, 'Number of Transactions': 800, 'Year-over-Year Change (%)': 9.8}, {'District': 'Yonsei-ro', 'Average Price (in KRW)': 1700000000, 'Number of Transactions': 150, 'Year-over-Year Change (%)': 12.8}]}

🔹 Generated DataFrame:

,District,Average Price (in KRW),Number of Transactions,Year-over-Year Change (%)
0,Gangnam-gu,1200000000,1500,10.2
1,Gangdong-gu,900000000,1200,8.5
2,Gwangjin-gu,1000000000,1000,9.1
3,Dongdaemun-gu,800000000,1800,7.8
4,Dobong-gu,700000000,800,6.9